<h1><%= t('.title') %></h1>

<p><%= t('.body', email: @authentication.email) %></p>

<%= form_with url: show_url, method: :patch, data: { turbo: false } do |f| %>
  <%= f.submit t('.submit') %>
<% end %>

<% if @verification&.errors&.any? %>
  <p><%= @verification.errors.full_messages.to_sentence %></p>
<% end %>

<p>
  <%= link_to t('.cancel'), url_for(action: :destroy), data: { turbo_method: :delete } %>
</p>
